mixin education()
  .container.education-container 
    .title 
      h3 Education
      .keyline
    each school in schools
      .item
        .section-header.clearfix 
          h4.bold.pull-left #{school.institution}
          .section-header.clearfix 
          h5.italic.pull-left #{school.startDate} - #{school.endDate}
          .section-header.clearfix 
          h4.pull-left #{school.studyType}
          h4.pull-left #{school.area}
          //- .section-header.clearfix 
          //- h4.pull-left #{school.location}
        ul.minimal
          each course in school.courses
            li= course

